
@font-face {
  font-family: "symbols-sedona";
  src: url("../font/symbols-sedona.eot?60737633");
  src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"),
       url("../font/symbols-sedona.woff?60737633") format("woff"),
       url("../font/symbols-sedona.ttf?60737633") format("truetype"),
       url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before { content: "\66"; } /* 'f' */
.icon-twitter:before { content: "\74"; } /* 't' */
.icon-up-dir:before { content: "\25b2"; } /* '▲' */
.icon-down-dir:before { content: "\25bc"; } /* '▼' */
.icon-star:before { content: "\2605"; } /* '★' */
.icon-check-off:before { content: "\2610"; } /* '☐' */
.icon-check-on:before { content: "\2611"; } /* '☑' */
.icon-calendar:before { content: "\e800"; } /* '' */
.icon-plus:before { content: "\e801"; } /* '' */
.icon-minus:before { content: "\e802"; } /* '' */
.icon-youtube:before { content: "\f39e"; } /* '' */

/* icon styles */


body {
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;

}

.wrapper {
  position: relative;

  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

  text-transform: uppercase;

  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
          box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.main-navigation {
  position: relative;
  padding: 0;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  width: 20%;
  padding-top: 14px;
  padding-bottom: 16px;

  vertical-align: top;
}

.main-navigation a {
  display: block;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  text-decoration: none;

  color: #000;
  outline: none;
}

.main-navigation .offset {
  margin-right: 20%;
}

.main-navigation a:hover {
  color: #a8c9df;
}

.main-navigation li .active {
  color: #81b3d2;
}

.logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -69px;
  margin-top: 0;
}

.main-pic {
  background: #7fa0c1 url("../pic/bg-intro.jpg") no-repeat center top;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 506px;
  position: relative;
  width: 100%;
}

.promo-pic {
  width: 458px;
  height: 352px;
  margin: 0 auto;
}
.promo-pic img {
  width: 458px;
  height: 352px;
  margin-top: 70px;
}

.promo-pic-mask img{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.title {
  width: 600px;
  height: 160px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

.title-last {
  width: 565px;
  height: 235px;
  margin: 0 auto;
  margin-top: 55px;
  text-align: center;
  position: relative;
}

.title-last h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 0;
}

.title-last p {
  margin-top: 25px;
}

.title-last .find {
  position: absolute;
  width: 565px;
  height: 52px;
  bottom: 0;
  left: 0%;
  background: #766357;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #fff;
  padding-top: 30px;
}

.title h1, h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.title p, p {
  font-size: 14px;
  line-height: 21px;
}

.title p {
  margin-top: 30px;
}

.reason-with-image .text {
  color: white;
}

.picture-text {
  min-width: 250px;
  max-width: 330px;
  margin: 0 auto;
  margin-top: 60px;
}

.text {
  min-width: 250px;
  max-width: 330px;
  margin: 0 auto;
  margin-top: 50px;
}

.text img {
  margin-bottom: 10px;
}

.text h2 {
  padding: 0 85px;
}

.picture-text h2 {
  margin-top: 30px;
}

.picture-text p {
  padding: 0 30px;
}

.number {
  position: relative;
  width: auto;
  max-width: 25px;
  text-align: center;
  margin: 0 auto;
}

.number-with-black {
  position: relative;
  width: auto;
  max-width: 25px;
  text-align: center;
  margin: 0 auto;
  margin-top: -10px;
}

.number-with-black:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 50%;
  margin-top: -1px;
  background: black;
  right: -15px;
}

.number-with-black:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 10px;
  height: 1px;
  background: black;
  left: -15px;
}

.text .number:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 50%;
  margin-top: -1px;
  background: white;
  right: -15px;
}

.text .number:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 10px;
  height: 1px;
  background: white;
  left: -15px;
}

.reason-with-image {
  font-size: 0;
  min-width: 768px;
}

.reason-item-left,
.image-right,
.reason-item-right,
.image-left {
  display: inline-block;
  vertical-align: top;
  height: 255px;
}

.reason-item-left,
.reason-item-right{
  width: 33.33333%;
  background: #82b3d3;
  text-align: center;
}

.image-right,
.image-left {
  width: 66.66666%;
  background: red;
  overflow: hidden;
}

.image-right img,
.image-left img{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reason-item {
  min-height: 255px;
  text-align: center;
  float: left;
  width: 33.33333%;
}

.reason-container-last {
  background: #eeeeee;
}

.reason-container {
  min-height: 330px;
}

.map {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 593px;
  border: 0;
  background: url("../pic/map.jpg") no-repeat top center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
         transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
         transform: translateX(10px);
  }
}

@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0);
       transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
       transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
       transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
       -moz-transform: translateX(-10px);
         -o-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
       -moz-transform: translateX(10px);
         -o-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(-2000px);
         transform: translateY(-2000px);
  }
  70% {
    -moz-transform: translateY(30px);
         transform: translateY(30px);
  }
  90% {
    -moz-transform: translateY(-10px);
         transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
         transform: translateY(0);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(-2000px);
       transform: translateY(-2000px);
  }
  70% {
    -o-transform: translateY(30px);
       transform: translateY(30px);
  }
  90% {
    -o-transform: translateY(-10px);
       transform: translateY(-10px);
  }
  100% {
    -o-transform: translateY(0);
       transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
       -moz-transform: translateY(-2000px);
         -o-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
       -moz-transform: translateY(30px);
         -o-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
       -moz-transform: translateY(-10px);
         -o-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

.main-form {
  display: none;
  z-index: 3;
  position: relative;
  width: 570px;
  height: 330px;
  padding-top: 66px;
  margin: 0 auto;
  background: #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.main-form-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  -moz-animation: bounce 0.6s;
    -o-animation: bounce 0.6s;
       animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  -moz-animation: shake 0.6s;
    -o-animation: shake 0.6s;
       animation: shake 0.6s;
}

.form-row {
  width: 460px;
  height: 66px;
  margin: 0 auto;
  text-align: center;
}

.form-row label {
  float: left;
}

.form-row:first-child input,
.plus {
  margin-left: 17px;
}

.form-row:nth-child(2) input {
  margin-left: 14px;
}

.form-row input {
  padding-left: 13px;
  height: 35px;
  border: none;
  background: #f2f2f2;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-align: center;
}

.form-count-right label {
  float: right;
}

.item-date {
  width: 274px;
}

.sched {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 28px;
  padding-top: 9px;
  border: none;
  background: #f2f2f2;
}

i.icon-calendar:before {
  font-size: 21px;
  color: #c2c2c2;
  margin: 0;
}

.item-count {
  width: 20px;
  background: #f2f2f2;
}

.minus {
  float: right;
  width: 40px;
  height: 37px;

  background: #f2f2f2;
}

.plus {
  float: right;
  width: 40px;
  height: 37px;

  background: #f2f2f2;
}

.plus-btn,
.minus-btn {
  margin: 0px;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 37px;
  font-size: 0;
  border: none;
  background: #f2f2f2;
}

.child,
.adult,
.check-out,
.check-in {
  display: inline-block;
  vertical-align: top;
  background: #f2f2f2;
}

.check-out {
  margin-left: 15px;
}

.check-in {
  margin-left: 17px;
}

.child {
  margin-left: 27px;
}

.adult {
  margin-left: 37px;
}

.icon-plus,
.icon-minus {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  color: #a9a9a9;
  padding-top: 6px;
}

.icon-plus:hover,
.icon-minus:hover {
  color: black;
}

.form-button {
  position: absolute;
  bottom: 55px;
  left: 55px;
  width: 460px;
  height: 50px;
  margin: 0 auto;
  border: none;
  text-align: center;
  background: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
}

.hotels-pic {
  background: #7fa0c1 url("../pic/filter_back.jpg") no-repeat center top;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 216px;
  position: relative;
  width: 100%;
  color: white;
}

.left-column-pic {
  padding-left: 7%;
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left-column-pic input {
  display: block;
  width: 250px;
}

.right-column-pic {
  padding-right: 7%;
  float: right;
  width: 320px;
}

.right-column-pic h3 {
  margin-top: 25px;
  margin-bottom: 8px;
  display: inline-block;
}

.structure {
  margin-top: 25px;
  float: left;
  width: 50%;
}

.type {
  margin-top: 25px;
  float: right;
  width: 50%;
}

.type p,
.structure p {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

input[type="checkbox"] {
  display: none;
}

.customized {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  padding-left: 40px;
}

.customized:before {
  position: absolute;
  content: "\2610";
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
  font-family: "symbols-sedona";
  left: 0px;
}

input[type="checkbox"]:checked + label:before {
  content: "\2611";
}

.custom-checkbox {
  margin-bottom: 25px;
}

.range-control {
  position: relative;
  width: 320px;
}

.range-control .scale {
  margin-top: 20px;
  height: 2px;
  background: grey;
}

.range-control .bar {
  height: 2px;
  background: white;
}

.button {
  position: absolute;
  bottom: -65px;
  left: 93px;
  width: 134px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  background: rgba(255,255,255, 0);
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid white;
  -webkit-border-radius: 5%;
          border-radius: 5%;
  color: #fff;
}

.button input {
  widht: 134;
}

.toggle {
  position: absolute;
  top: -8px;
  left: 0px;
  height: 4px;
  width: 4px;
  border: 8px solid white;
  background: grey;
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.toggle:hover {
  background: #1c4f80;
}

.range-control .max-toggle {
  left: 220px;
}

.price-control input {
  width: 40px;
  border: none;
  background: rgba(255,255,255, 0);
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-align: center;
  outline:none;
}

.found {
  padding-top: 10px;
}

.found h2,
.found ul,
.found li,
.found a,
.found p {
  display: inline-block;
  vertical-align: middle;
}

.found h2 {
  margin-left: 70px;
}

.found ul {
  padding: 0;
}

.found li {
  margin-left: 32px;
}

.found p {
  margin-right: 10px;
}

.found a,
.found p {
  font-size: 12px;
  line-height: 18px;
}

.found a {
  text-decoration: none;
}

.offselected{
  color: black;
  border-bottom: 1px dotted #81b3d2;
}

.offselected:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.selected {
  color: #81b3d2;
}

.parameters {
  float: left;
}

.sorting {
  float: right;
  margin-top: 20px;
  margin-right: 77px;
  font-size: 23px;
}

.icon-up-dir {
  color: #cccccc;
}

.icon-up-dir:hover {
  color: black;
}

.icon-down-dir {
  color: #81b3d2;
}

.icon-down-dir:hover {
  color: #669ec0;
}

.hotel {
  border-top: 2px solid #e5e5e5;
  padding: 25px 80px 25px 70px;
}

.hotel h2 {
  margin: 0;
}

.hotel p {
  margin-top: 6px;
  margin-bottom: 15px;
}

.hotel-info-right {
  float: left;
}

.hotel-info-left {
  float: left;
}

.picture {
  float: left;
}

.picture img {
  width: 135px;
  height: 90px;
}

.info {
  float: left;
  margin-left: 30px;
  width: 50%;
}

.rate-hotel {
  position: relative;
  float: right;
}

.rate-hotel .stars {
  position:absolute;
  right: 0px;
  font-size: 19px;
  color: #81b3d2;
}

i.icon-star::before,
i.icon-up-dir::before,
i.icon-down-dir::before {
  margin: 0 2px;
}

.rating {
  margin-top: 65px;
  width: 110px;
  height: 25px;
  text-align: center;
  background: #f2f2f2;
  padding-top: 4px;
}

.content-table {
  border: 1px solid white;
  -webkit-border-radius: 5%;
          border-radius: 5%;
  border-spacing: 0;
  width: 320px;
}

.content-table td {
  border: 1px solid white;
  -webkit-border-radius: 5%;
          border-radius: 5%;
  height: 33px;
  width:40%;
  padding-left: 45px;
}

.footer-container {
  position: relative;
  background: #cbdda9;
  height: 593px;
  position: relative;
}

.footer-content {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: rgba(255,255,255, 0.7);
}

.footer-content-hotels {
  border-top: 2px solid #e5e5e5;
  width: 100%;
  height: 120px;
  background: white;
  background: rgba(255,255,255, 0.7);
}

.footer-hashtag {
  float: left;
  text-align: center;
  width: 33.33333%;
  margin-top: 40px;
}

.footer-social {
  float: left;
  text-align: center;
  width: 33%;
  margin-top: 35px;
}

.footer-hashtag a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #252524;
}

.footer-copyright {
  float: right;
  margin-top: 30px;
  width: 33.66666%;
  text-align: center;
}

.social-btn {
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  font-size: 0;
  text-decoration: none;
  background: #82b3d3 url() no-repeat center;
}

.icon-facebook,
.icon-twitter,
.icon-youtube {
  display: inline-block;
  font-size: 23px;
  color: white;
  padding-top: 8px;
}

.social-btn:hover {
  background: #669ec0 url() no-repeat center;
}

.link-author {
  display: inline-block;
  vertical-align: top;
  background: url("../images/icon_a.png") no-repeat center top;
  width: 30px;
  height: 30px;
  margin: 0 4px;
}

.link-company {
  display: inline-block;
  vertical-align: top;
  background: url("../images/html_icon.png") no-repeat center top;
  width: 30px;
  height: 30px;
  margin: 0 4px;
}

.link-author:hover {
  background: url("../images/a_icon_blue.png") no-repeat center top;
}

.link-company:hover {
  background: url("../images/html_icon_blue.png") no-repeat center top;
}

.right-btn {
  display: inline-block;
  vertical-align: top;
  padding: 4px 16px;
  margin-right: 6px;

  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: white;
  background: #766357;
  border: none;
  outline: none;
  cursor: pointer;
}

.right-btn:hover,
.right-btn:active {
  background: #604e43;
}

.left-btn {
  display: inline-block;
  vertical-align: top;
  padding: 4px 16px;
  margin-right: 6px;

  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: white;
  background: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}

.left-btn:hover,
.left-btn:active {
  background: #669ec0;
}
